/*Generiche*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*border*/
.dashed-border{
    border: 2px dashed black;
}
.dashed-border-white{
    border: 2px dashed white;
}

/*width*/
.w-25{
    width: 25%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}


/*height*/
.h-30{
    height: 30px;
}
.h-100{
    height: 100px;
}
.h-400{
    height: 400px;
}
.h-500{
    height: 500px;
}
.h-800{
    height: 800px;
}
.h-1000{
    height: 1000px;
}

/*container*/
.container-flex{
    display: flex;
}
.container{ 
    width: 1000px;
    margin: 0 auto;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.align-center-items{
    align-self: center;
}

/*header*/
header{
    min-height: 100px;
    background-color: hsl(194.74deg 53.27% 79.02%);
}

header > div{
    height: 50px;
    background-color: hsl(42.9deg 74.4% 49.02%);
}
div > section{
    height: 100%;
}

/*main*/
main{
    min-height: 500px;
}
.blue-container{
    background-color: #00008b;
}
.pink-container{
    background-color: hsl(300deg 76.06% 72.16%);
    width: 60%;
}
.lightblue-container{
    background-color: hsl(209.6deg 100% 55.88%);
}
.lightpink-container{
    background-color: hsl(349.52deg 100% 87.65%);
}
.container-gray{
    background-color: hsl(0deg 0% 82.75%);
}
.green-container{
    background-color: #228b22;
    width: 100%;
}
.salmon-container{
    background-color: hsl(0deg 78.87% 72.16%);
}
.teal-container{
    background-color:hsl(176.71deg 69.52% 41.18%);
}

/*footer*/
footer{
    min-height: 100px;
    background-color: hsl(205.71deg 9.09% 15.1%);
}
.column-section{
    width: calc(100% / 4);
}
footer > hr{
    color: hsl(0deg 0.99% 80.2%);
    height: 2px;
}
.aquamarine-container{
    height: 50px;
    background-color: hsl(159.84deg 100% 74.9%);
}
