/*Generiche*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*border*/
.dashed-border{
    border: 2px dashed black;
}

/*width*/
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}

/*height*/
.h-500{
    height: 500px;
}

/*container*/
.container-flex{
    display: flex;
}
.container{ 
    width: 1000px;
    margin: 0 auto;
}

.align-center{
    align-items: center;
}

/*header*/
header{
    min-height: 100px;
    background-color: hsl(194.74deg 53.27% 79.02%);
}

header > div{
    height: 50px;
    background-color: hsl(42.9deg 74.4% 49.02%);
}
section{
    height: 100%;
}

/*main*/
main{
    min-height: 500px;
}
.blue-container{
    background-color: #00008b;
}
.pink-container{
    background-color: hsl(300deg 76.06% 72.16%);
    width: 60%;
    height:400px;
}
.lightblue-container{
    background-color: hsl(209.6deg 100% 55.88%);
    height: 400px;
}
.lightpink-container{
    background-color: hsl(349.52deg 100% 87.65%);
    height: 400px;
}
